img {
    position: relative;
    top: 5px;
}

body {
    text-align: center;
    margin-top: 10px;
    background-color: #dedce4;
}

button {
    position: relative;
    top: 15px;
    bottom: 10px;
}

#UI {
    position: relative;
    margin-top: 10px;
}

table {
    position: relative;
    margin-top: 10px;
    background-color: #cbc9d0;
    width: 100%;
}

.w3-comfort{
    font-family: 'Comfortaa';
}

#container{
    position: relative;
    top: 30px;
}

.audio{
    position: relative;
    top: 25px;
}